@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";


a.active hr{
    display: block;
}
*{
    font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar{
    display: none;
}

@media (max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
}
.mobile-toast {
  max-width: 90vw !important;
  margin: 0 auto !important;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}
